/* Local font configuration */

@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/Inter.woff2') format('woff2');
	font-display: optional;
	font-style: normal;
	font-weight: 400 900;
}

@font-face {
	font-family: 'Quantico';
	src: url('../assets/fonts/Quantico.woff2') format('woff2');
	font-display: optional;
	font-style: normal;
	font-weight: 400 700;
}

@font-face {
	font-family: 'Caveat';
	src: url('../assets/fonts/Caveat.woff2') format('woff2');
	font-display: optional;
	font-style: normal;
	font-weight: 600;
}
